<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>registrarFuncion</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.registrarFuncion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registro_cliente</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.registro_cliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validar_logueo</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.validar_logueo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>obtener_peliculas</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.obtener_peliculas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>obtener_funciones</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.obtener_funciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>obtener_tarjetas</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.obtener_tarjetas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enviar_email</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.enviar_email</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>llenar_registros</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.llenar_registros</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gestion_tarjetas</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.gestion_tarjetas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registro_tarjeta</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.registro_tarjeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ver_detalles_tarjeta</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.ver_detalles_tarjeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminar_tarjeta</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.eliminar_tarjeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificar_tarjeta</servlet-name>
        <servlet-class>pe.edu.ulima.servlets.modificar_tarjeta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrarFuncion</servlet-name>
        <url-pattern>/registrarFuncion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registro_cliente</servlet-name>
        <url-pattern>/registro_cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validar_logueo</servlet-name>
        <url-pattern>/validar_logueo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>obtener_peliculas</servlet-name>
        <url-pattern>/obtener_peliculas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>obtener_funciones</servlet-name>
        <url-pattern>/obtener_funciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>obtener_tarjetas</servlet-name>
        <url-pattern>/obtener_tarjetas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enviar_email</servlet-name>
        <url-pattern>/enviar_email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>llenar_registros</servlet-name>
        <url-pattern>/llenar_registros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gestion_tarjetas</servlet-name>
        <url-pattern>/gestion_tarjetas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registro_tarjeta</servlet-name>
        <url-pattern>/registro_tarjeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ver_detalles_tarjeta</servlet-name>
        <url-pattern>/ver_detalles_tarjeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminar_tarjeta</servlet-name>
        <url-pattern>/eliminar_tarjeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificar_tarjeta</servlet-name>
        <url-pattern>/modificar_tarjeta</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
